
body {
    background: #fff;
    font-family:Arial, Helvetica, sans-serif;
}

a {
    color: #096c47;; 
}

.container {
    margin: 120px auto;
    max-width: 600px;
}

header {
    margin-top: 100px; 
    text-align: center;      
}

h1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 1.5;
    color: #096c47;;
}

.form-container {
    background: #d6f6d6;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0px 20px 60px rgba(43, 57, 20, 0.1);
    padding: 20px;
}

form {
    display: flex;
    color: #096c47;
    
}

.instructions {
    padding: 10px;
    border: 1px solid #d6f6d6; 
    width: 80%;
    font-size: 18px;
    border-radius: 2px;
}

.hint {
    color: #096c47;
    margin-top: 5px;
    line-height: 1.5;
    font-size: 12px;
    opacity: 0.8;

}

.submit-button {
    margin-left: 20x;
    padding: 10px;
    border: 1px solid #d6f6d6; 
    width: 18%;
    font-size: 22px;
    border-radius: 2px;
    color:  white;
    background-color: #096c47;
    box-shadow: 0px 20px 60px rgba(27, 29, 23, 0.1)

}

.poem {
    font-size: 18px;
    background-color: #096c47;
    padding: 30px;
    line-height: 1.5;
    border-left: 8px solid #d6f6d6;
    border-radius: 5px;
    box-shadow: 0px 20px 60px rgba(43, 57, 20, 0.1);
}

.hidden {
    display: none;
}

footer {
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
}

.generating {
    animation: blink-animation 1s steps(5, start) infinite;

}
@keyframes blink-animation {
to {
  visibility: hidden;
}
}
@-webkit-keyframes blink-animation {
to {
  visibility: hidden;
}
}
